<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>修改角色</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>
<!--引入公共顶部栏-->
<div th:insert="~{commons/commons::navbar}"></div>
<div class="container-fluid">
    <div class="row">
        <!--引入公共侧边栏-->
        <div th:insert="~{commons/commons::sidebar}"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/role/update}" method="post">
                <input type="hidden" name="id" th:value="${role.id}">
                <div class="form-group">
                    <label>角色名称</label>
                    <input type="text" name="name" th:value="${role.name}"  class="form-control">
                </div>
                <div class="form-group" >
                    <label>角色权限:</label>
                    <br/>
                    <br/>
                    <!--此处曾想后端传来perms的列表,然后遍历, th:each="list:${lists}" th:checked="${list=='emp:*')}" 这样的话多选框会重复创建-->
                    <label>员工操作权限:</label>
                    <input type="checkbox" name="perms" value="emp:*"        th:checked="${#strings.containsIgnoreCase(role.perms,'emp:*')}">操作员工的所有权限--
                    <input type="checkbox" name="perms" value="emp:list"     th:checked="${#strings.containsIgnoreCase(role.perms,'emp:list')}">查看员工列表--
                    <input type="checkbox" name="perms" value="emp:toAdd"    th:checked="${#strings.containsIgnoreCase(role.perms,'emp:toAdd')}">跳转添加员工--
                    <input type="checkbox" name="perms" value="emp:add"      th:checked="${#strings.containsIgnoreCase(role.perms,'emp:add')}">添加员工--
                    <input type="checkbox" name="perms" value="emp:toUpdate" th:checked="${#strings.containsIgnoreCase(role.perms,'emp:toUpdate')}">跳转修改员工--
                    <input type="checkbox" name="perms" value="emp:update"   th:checked="${#strings.containsIgnoreCase(role.perms,'emp:update')}">修改员工--
                    <input type="checkbox" name="perms" value="emp:delete"   th:checked="${#strings.containsIgnoreCase(role.perms,'emp:delete')}">删除员工--
                    <input type="checkbox" name="perms" value="emp:get"      th:checked="${#strings.containsIgnoreCase(role.perms,'emp:get')}">查询员工--
                    <br/>
                    <br/>
                    <br/>
                    <label>部门操作权限:</label>
                    <input type="checkbox" name="perms" value="dep:*"        th:checked="${#strings.containsIgnoreCase(role.perms,'dep:*')}">操作部门的所有权限--
                    <input type="checkbox" name="perms" value="dep:list"     th:checked="${#strings.containsIgnoreCase(role.perms,'dep:list')}">查看部门列表--
                    <input type="checkbox" name="perms" value="dep:toAdd"    th:checked="${#strings.containsIgnoreCase(role.perms,'dep:toAdd')}">跳转添加部门--
                    <input type="checkbox" name="perms" value="dep:add"      th:checked="${#strings.containsIgnoreCase(role.perms,'dep:add')}">添加部门--
                    <input type="checkbox" name="perms" value="dep:toUpdate" th:checked="${#strings.containsIgnoreCase(role.perms,'dep:toUpdate')}">跳转修改部门--
                    <input type="checkbox" name="perms" value="dep:update"   th:checked="${#strings.containsIgnoreCase(role.perms,'dep:update')}">修改部门--
                    <input type="checkbox" name="perms" value="dep:delete"   th:checked="${#strings.containsIgnoreCase(role.perms,'dep:delete')}">删除部门--
                    <br/>
                    <br/>
                    <br/>
                    <label>角色操作权限:</label>
                    <input type="checkbox" name="perms" value="role:*"       th:checked="${#strings.containsIgnoreCase(role.perms,'role:*')}">操作角色的所有权限--
                    <input type="checkbox" name="perms" value="role:list"    th:checked="${#strings.containsIgnoreCase(role.perms,'role:list')}">查看角色列表--
                    <input type="checkbox" name="perms" value="role:toAdd"   th:checked="${#strings.containsIgnoreCase(role.perms,'role:toAdd')}">跳转添加角色--
                    <input type="checkbox" name="perms" value="role:add"     th:checked="${#strings.containsIgnoreCase(role.perms,'role:add')}">添加角色--
                    <input type="checkbox" name="perms" value="role:toUpdate"th:checked="${#strings.containsIgnoreCase(role.perms,'role:toUpdate')}">跳转修改角色--
                    <input type="checkbox" name="perms" value="role:update"  th:checked="${#strings.containsIgnoreCase(role.perms,'role:update')}">修改角色--
                    <input type="checkbox" name="perms" value="role:delete"  th:checked="${#strings.containsIgnoreCase(role.perms,'role:delete')}">删除角色--
                </div>
                <button type="submit" class="btn btn-primary">修改</button>
            </form>
        </main>
    </div>
</div>
</body>
</html>